html,body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1,h2,h3,h4,h5,h6,p,span,b,i,hr,div {
  font-family: 'Google Sans', sans-serif;
  color: #333;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
a {
  color: #333;
}

.caption {
  font-size: 0.9rem;
  color: #333;
}

.arxiv-button {
  text-decoration: none;
}
.arxiv-button button {
  border: 1px solid #ddd;
  border-radius: 1rem;
  font-family: 'Google Sans', sans-serif;
  color: #fff;
  background-color: #000;
  font-size: 1.25rem;
  padding: 0 0.5rem;
}
.arxiv-button button:hover {
  background-color: #333;
  cursor: pointer;
}
.arxiv-button span {
  font-size: 1rem;
  position: relative;
  top: -2px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 50rem;
}

.section-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f5f5f5;
}

.center {
  text-align: center;
}

.main-video-placeholder {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 50rem;
  aspect-ratio: 16/9;
  background-color: #aaa;
}

.abstract {
  margin-left: auto;
  margin-right: auto;
  max-width: min(80%, 40rem);
}

/* This is needed to avoid overflow of arrows. */
.carousel {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.carousel span {
  color: #777;
}
.carousel span.active {
  color: #fff;
}

.carousel-elements {
  overflow: scroll;
  display: flex;
  scroll-behavior: smooth;
  cursor: url("swipe.svg"), auto;
}

.carousel-element {
  margin-left: auto;
  margin-right: auto;
  /* width: round(90vw, 1px); */
  max-width: round(min(90vw, 50rem), 1px);
  /* aspect-ratio: 16/9; */
  /* background-color: #aaa; */
  /* min-width: round(33vw, 1px); */
  flex-shrink: 0;
  /* margin-right: round(8rem, 1px); */
}

.carousel-group-span:hover {
  cursor: pointer;
}

.carousel-arrow {
  font-size: 4rem;
  // position: absolute;
  // margin-top: 5rem;
  // overflow: hidden;
  user-select: none;
  color: #555;
  width: 4rem;
}
.carousel-arrow.left {
  margin-right: 1rem;
  margin-left: -1rem;
}
.carousel-arrow.right {
  margin-right: -1rem;
  margin-left: 1rem;
}
.carousel-arrow:hover {
  cursor: pointer;
}
.carousel-arrow.left {
  float: left;
  left: -2.25rem;
}
.carousel-arrow.right {
  float: right;
  right: -2.25rem;
}

.input-output {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-captions {
  display: flex;
  flex-direction: row;
}
.image-captions > div {
  width: 33%;
}

img, video {
  border: 1px solid #bbb;
  border-radius: 6px;
  overflow: hidden;
}

.input-output video,.input-output img {
  /* Do not show videos above their natural resolution */
  max-width: 256px;
  width: 40%;
}
.input-output .arrow {
  font-size: 2rem;
  margin: auto 0rem;
}

.input-output-target img,.input-output-target video {
  max-width: min(256px, 28vw);
}
.input-output-target:last-child {
  margin-right: 0;
}
